#ignore target directory
wtmi/build/*
#ignore all intermediate files
*.[oad]
*.elf
*.dis
*.bin
#ignore specific files
clocks_ddr.txt
ddr_static.txt
ddr_static.txt.info
autoconf.h
tim/ddr/ddr_tool
tim/ddr/ddr_tool.verstr

